@charset "utf-8";
div{
	border:1px solid #ff0000
	
}
span.rainbow{
	font-weight:bold;
	font-style:italic;
	font-family:"serif";
	font-size:20px;
}

main{
	background-color: #eeeeee;
}

header{
	background-color: black;
}

input{
	width: 50%;
	float: right;
	border:1px solid #a1a1a1
}